# resource.config file

[depends]

main = base/main

[groups]

main =
    vendor/bootstrap-image-gallery/css/bootstrap-image-gallery.css
    vendor/bootstrap-image-gallery/js/load-image.js
    vendor/bootstrap-image-gallery/js/bootstrap-image-gallery.js
    vendor/masonry/dist/masonry.pkgd.js
    css/gallery.css