# resource.config file

[depends]

main = base/main

[groups]

gallery =
    vendor/blueimp-gallery/js/blueimp-gallery.js
    vendor/blueimp-gallery/css/blueimp-gallery.css
    vendor/jquery-ui-1.11.4.custom/jquery-ui.js
    vendor/jquery-ui-1.11.4.custom/jquery-ui.css
    css/gallery.css
    js/gallery.js