# resource.config file

[depends]

main = base/main

[groups]

main =
    scripts/vendor/bootstrap-image-gallery/css/bootstrap-image-gallery.css
    scripts/vendor/bootstrap-image-gallery/js/load-image.js
    scripts/vendor/bootstrap-image-gallery/js/bootstrap-image-gallery.js
    scripts/vendor/jquery.panzoom/jquery.panzoom.js
    scripts/gallery.js
    css/gallery.css
