#modal-gallery{
    /* Override so we don't use the fade */
    margin-top: 0!important;
}

#gallery a{
    padding: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 5px;
}

#modal-gallery .modal-image{
    max-height: 650px;
}

.gallery-thumbnail img{
    max-width: 200px;
    max-height: 100px;
}