#modal-gallery{
    /* Override so we don't use the fade */
    margin-top: 0!important;
}

#gallery .gallery-image{
    margin-bottom: 20px;
}

#gallery .gallery-image a{
    margin-bottom: 5px;
    display: block;
    width: 140px;
    height: 140px;
    overflow: hidden;
}

#gallery .gallery-image a img{
    min-width: 140px;
    min-height: 140px;
}

#gallery .gallery-image p{
    text-align: center;
    font-size: 11px;
}

#modal-gallery .modal-image{
    max-height: 650px;
}

.gallery-thumbnail img{
    max-width: 200px;
    max-height: 100px;
}

.modal-description{
    text-align: center;
    margin-top: 10px;
}

#modal-gallery div.modal-ui {
    margin: 0 0 0 -80px;
    padding: 0;
    height: 32px;
    position: absolute;
    bottom: 10px;
    left: 50%;
}

#modal-gallery div.modal-ui:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#modal-gallery div.modal-ui a {
    display: none;
    color: #000;
    background: #FFF;
    border-radius: 13px;
    font-weight: bold;
    font-size: 13px;
    height: 13px;
    width: 13px;
    line-height: 10px;
    padding: 3px;
    text-align: center;
    border: 2px solid #228900 !important;
    color: #228900;
    text-decoration: none!important;
}

#modal-gallery div.modal-ui a.modal-ui-visible {
    display: inline-block;
}

#modal-gallery div.modal-ui a:hover {
    text-decoration: none;
    background: #EEE;
}

/* Remove BootStrap gallery prev/next markers */
#modal-gallery .modal-image:hover:before,
#modal-gallery .modal-image:hover:after {
    content: '';
    background: transparent;
    display: none;
    border: 0;
}