{% block gallery %}
    <div id="gallery" class="container-fluid no-spacing" data-module="gallery" data-module-images="{{ h.dump_json(images) }}">
        <div class="row">
            {% for image in images %}
                <div class="col-xl-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="gallery-image">
                        <a onclick="return false;" href="{{ image.href }}" title="{{ image.title }}">
                            <img src="{{ image.thumbnail or image.href }}" alt="{{ image.title }}" />
                        </a>
                        {% if image.description %}
                            <p>{{ image.description }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>

{% asset 'ckanext-gallery/main-css' %}
{% asset 'ckanext-gallery/main-js' %}
{% snippet "gallery/snippets/lightbox.html" %}

{% endblock %}
