  <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">

    <div class="row">
        {% for image in images %}
            <div class="gallery-image col2 span2">
                <a href="{{ image.url }}" title="{{ image.title }}" data-gallery="gallery" class="gallery-thumbnail">
                    <img src="{{ image.thumbnail or image.url }}" alt="{{ title }}" />
                </a>
                <p>{{ image.title }}</p>
            </div>
        {% endfor %}
    </div>
  </div>

{% resource 'ckanext-gallery/main' %}