<div id="gallery" data-module="gallery">
    <div class="row">
        {% for image in images %}
            <div class="col2 span3">
                <div class="gallery-image">
                    <a onclick="return false;" href="{{ image.url }}" title="{{ image.modal_title or image.title }}" data-link="{{ image.link }}" data-copyright="{{ image.copyright }}">
                        <img src="{{ image.thumbnail or image.url }}" alt="{{ image.title }}" />
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
  </div>

{% resource 'ckanext-gallery/gallery' %}
{% include "gallery/snippets/lightbox.html" %}