{% block lightbox %}
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev" aria-label="show previous image">‹</a>
        <a class="next" aria-label="show next image">›</a>
        <a class="close" aria-label="close lightbox">×</a>
        <a class="gallery-control gallery-control-download" title="Download image" download>
            <i class="fas fa-download" aria-hidden="true"></i>
        </a>
        <a class="gallery-control gallery-control-link" title="View record">
            <i class="fas fa-file-alt" aria-hidden="true"></i>
        </a>
        <p class="copyright"></p>
    </div>
{% endblock %}
