{% import 'macros/form.html' as form %}

{% call form.select('image_field', label=_('Image field'), options=datastore_fields, selected=data.image_field, error=errors.image_field, is_required=true) %}
  {{ form.info(_('Image field to use in the gallery.'), inline=True) }}
{% endcall %}

{% call form.select('thumbnail_field', label=_('Thumbnail field'), options=datastore_fields, selected=data.thumbnail_field, error=errors.thumbnail_field, is_required=true) %}
  {{ form.info(_('Thumbnail field to use in the gallery.'), inline=True) }}
{% endcall %}

{% call form.input('thumbnail_params', label=_('Thumbnail parameters'), value=data.thumbnail_params, error=errors.thumbnail_params) %}
  {{ form.info(_('Extra paramters to append to the thumbnail URL.'), inline=True) }}
{% endcall %}

{% call form.select('gallery_title_field', label=_('Gallery title field'), options=[None] + datastore_fields, selected=data.gallery_title_field, error=errors.gallery_title_field) %}
  {{ form.info(_('Title field to use in the gallery.'), inline=True) }}
{% endcall %}

{% call form.select('modal_title_field', label=_('Modal title field'), options=[None] + datastore_fields, selected=data.modal_title_field, error=errors.modal_title_field) %}
  {{ form.info(_('Title field to use in the modal image popup.'), inline=True) }}
{% endcall %}